<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body>
    <!-- Barra de navegación -->
    <app-navbar></app-navbar>

    <div class="container">
        <form>
            <div class="row">
                <div class="grupo-input">
                    <input type="text" required>
                    <label for="name"><i class="bi bi-person-fill"></i> Nombres</label>
                </div>
                <div class="grupo-input">
                    <input type="email" required>
                    <label for="email"><i class="bi bi-envelope-fill"></i> Email</label>
                </div>
            </div>
            <div class="grupo-input">
                <textarea id="message" rows="10" required></textarea>
                <label for="message"><i class="bi bi-chat-fill"></i> Mensaje</label>
            </div>

            <button type="submit">Enviar <i class="bi bi-send-fill"></i></button>
        </form>
    </div>

    <!-- Footer -->
    <app-footer></app-footer>
</body>

</html>