<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body>
    <header>
        <h2 class="logo">LyrusDev</h2>
        <nav class="navbar">
            <a href="#">Inicio</a>
            <a href="#">Hobbies</a>
            <a href="#">Contacto</a>
        </nav>
    </header>

    <div class="bienvenida">
        <h1>Hola, soy Aldo!</h1>
        <p>Soy estudiante de desarrollo de software con aspiración a ser un programador Full Stack</p>

        <div class="img-L">
            <img src="assets/img/LyrusDev.jpg" alt="LyrusDev">
        </div>
    </div>

    <div class="about">
        <div class="text">
            <h3>Un poco de mi</h3>
            <p>Me llamo Aldo, tengo 20 años y soy de Ecuador.</p>
            <p>
                Actualmente soy estudiante del ITSQMET, instituto ubicado en Ecuador, Quito. En el cual busco terminar
                mi carrera como tecnólogo superior en Desarrollo de Software. <br>
                También estudio en OpenBootcamp con la finalidad de obtener más conocimientos sobre el desarrollo de
                software.
            </p>
        </div>
    </div>

    <div class="redes-sociales">
        <h2>Mis Redes Sociales</h2>
        <p>En ocasiones subo contenido de juegos!</p>
        <ul>
            <li><a href="https://www.twitch.tv/xthelyrusx" target="_blank"><i class="bi bi-twitch"></i></a></li>
            <li><a href="https://youtube.com/@xthelyrusx6588" target="_blank"><i class="bi bi-youtube"></i></a></li>
            <li><a href="https://github.com/xTheLyrusx/Portafolio-Lyrus" target="_blank"><i
                        class="bi bi-github"></i></a></li>
        </ul>
    </div>

    <footer>
        <p>&copy; LyrusDev</p>
    </footer>
</body>

</html>